body {
  font-family: Arial, sans-serif;
  background: #eaf3ff;
  margin: 0;
  padding: 0;
  text-align: center;
  direction: rtl;
}

.container {
  margin-top: 100px;
}

h1 {
  color: #03396c;
}

.login-box, .card {
  background: #fff;
  width: 320px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #03396c;
  border-radius: 5px;
}

button {
  width: 95%;
  padding: 10px;
  border: none;
  background: #03396c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #02284d;
}

.logout {
  width: 200px;
  margin-top: 20px;
  background: #b20000;
}
